<style>
  *{
    box-sizing: border-box;
    text-align: center;
  }
  h1{
    float: left;
    font-family: "Arial, Helvetica, sans-serif";
    background: teal
  }
  head{
    color: white;
    background-color: teal;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    padding: 20px;
    margin-bottom: 20px;
  }
  footer{
    text-align: center;
    background-color: #666666; 
  }
  div{
    float: left;
    border-image: 15%
  }
  section{
    
    
  }

</style>